@page
@model rh.BackOffice.Pages_Annonces.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Annonce[0].Libelle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Annonce[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Annonce[0].CompetenceRequis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Annonce[0].TypeContrat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Annonce[0].ModeTravail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Annonce[0].NiveauExperience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Annonce[0].Localisation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Annonce[0].DateFin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Annonce) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Libelle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompetenceRequis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeContrat.Libelle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModeTravail.Libelle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NiveauExperience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localisation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateFin)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
